<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dogCare</title>
</head>
<body>
    <h1>How to take care of a dog!</h1>
    <div class="feeding">
        <h2>Feeding</h2>
        <ul>
            <li>Puppies eight to 12 weeks old need four meals a day.</li>
            <li>Feed puppies three to six months old three meals a day.</li>
            <li>Feed puppies six months to one year two meals a day.</li>
            <li>When your dog reaches his first birthday, one meal a day is usually enough.</li>
            <li>For some dogs, including larger canines or those prone to bloat, it's better to feed two smaller meals.</li>
        </ul>
        <blockquote>
            Premium-quality dry food provides a well-balanced diet for adult dogs and may be mixed with water, broth or canned food. 
            Your dog may enjoy cottage cheese, cooked egg or fruits and vegetables, but these additions should not total more than ten percent of his daily food intake.
            <br/><br/>
            Puppies should be fed a high-quality, brand-name puppy food (large breed puppy foods for large breeds). 
            Please limit "people food," however, because it can result in vitamin and mineral imbalances, bone and teeth problems and may cause very picky eating habits and obesity. 
            Clean, fresh water should be available at all times, and be sure to wash food and water dishes frequently.
        </blockquote>
    </div>
    <br/>
    <div class="exercise">
        <h2>Exercise</h2>
        <blockquote>
            Dogs need exercise to burn calories, stimulate their minds, and stay healthy. 
            Individual exercise needs vary based on breed or breed mix, sex, age and level of health. 
            Exercise also tends to help dogs avoid boredom, which can lead to destructive behaviors. 
            Supervised fun and games will satisfy many of your pet's instinctual urges to dig, herd, chew, retrieve and chase.
        </blockquote>
    </div>
    <br/>
    <div class="grooming">
        <h2>Grooming</h2>
        <blockquote>
            Help keep your dog clean and reduce shedding with <em>frequent brushing</em>. 
            Check for fleas and ticks daily during warm weather. 
            Most dogs don't need to be bathed more than a few times a year. 
            Before bathing, comb or cut out all mats from the coat. 
            Carefully rinse all soap out of the coat, or the dirt will stick to soap residue.
        </blockquote>
    </div>
    <br/>
    <div class="handling">
        <h2>Handling</h2>
        <blockquote>
            To carry a puppy or small dog, place one hand under the dog's chest, with either your forearm or other hand supporting the hind legs and rump. 
            Never attempt to lift or grab your puppy or small dog by the forelegs, tail or back of the neck. 
            If you do have to lift a large dog, lift from the underside, supporting his chest with one arm and his rear end with the other.
        </blockquote>
    </div>
    <br/>
    <div class="housing">
        <h2>Housing</h2>
        <blockquote>
            Your pet needs a warm, quiet place to rest, away from all drafts and off the floor. 
            A training crate or dog bed is ideal, with a clean blanket or pillow placed inside. Wash the dog's bedding often. 
            If your dog will be spending a lot of time outdoors, be sure she has access to shade and plenty of cool water in hot weather, and a warm, dry, covered shelter when it's cold.
        </blockquote>
    </div>
    <br/>
    <div class="licensing">
        <h2>Licensing and Identification</h2>
        <blockquote>
            Follow your community’s licensing regulations. 
            Be sure to attach the license to your dog’s collar. 
            This, along with an ID tag and implanted microchip or tattoo, can help secure your dog’s return should she become lost.
        </blockquote>
    </div>
    <br/>
    <div class="fleas">
        <h2>Fleas and Ticks</h2>
        <blockquote>
            Daily inspections of your dog for fleas and ticks during the warm seasons are important. 
            Use a flea comb to find and remove fleas. There are several new methods of flea and tick control. 
            Speak to your veterinarian about these and other options.
        </blockquote>
    </div>
    <br/>
    <div class="medicines">
        <h2>Medicines and Poisons</h2>
        <blockquote>
            Never give your dog medication that has not been prescribed by a veterinarian. 
            If you suspect that your animal has ingested a poisonous substance, call your veterinarian immediately.
        </blockquote>
    </div>
    <br/>
    <div class="neutering">
        <h2>Spaying and Neutering</h2>
        <blockquote>
            Female dogs should be spayed and male dogs neutered by six months of age. 
            Spaying and neutering your dog will help reduce the chances of getting infected with a infectious disease.
        </blockquote>
    </div>
    <br/>
    <div class="vaccines">
        <h2>Vaccinations</h2>
        <blockquote>
            Your dog may benefit from receiving a number of vaccinations. 
            Please contact your veterinarian for a complete list of recommended vaccinations for your dog.
        </blockquote>
    </div>
    <p>Credits to: <a href="https://www.aspca.org/pet-care/dog-care/general-dog-care">https://www.aspca.org/</a></p>
</body>
</html>